@import './lib/sass/styles.scss';
@import './quill.css';

@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-css-only/css/bootstrap.min.css';
@import 'mdbreact/dist/css/mdb.css';

html {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $med-font;
  background-color: #373234;
  color: white;
  position: absolute;
  width: 100%;

  @include media('>=tablet-portrait') {
    font-size: $bigger-font;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100%;
  margin: 0 auto;
  width: 100%;

  @include media('>=tablet-portrait') {
    width: 748px;
  }

  @include media('>=tablet-landscape') {
    width: 980px;
  }

  @include media('>=desktop') {
    width: 1340px;
  }
}

.pageContent {
  min-height: 100vh;
  z-index: 9999;
  margin-top: 60px;

  @include media('>=tablet-portrait') {
    margin-top: 0;
  }
}

/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
}

.responsiveTable td .tdBefore {
  display: none;
}

@media screen and (max-width: 1024px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}

.Collapsible svg {
  stroke-width: 1.5;
}
.Collapsible {
  margin-bottom: 25px;
}

// @include media('>tablet-landscape') {
//   margin-bottom: 40px;
// }

.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media('>tablet-portrait') {
    max-width: 400px;
    margin: 0 auto;
  }
}

.Collapsible__trigger.is-open {
  @include media('<=tablet-landscape') {
    h3 {
      text-align: left;
      margin: 0;
    }
  }
  svg {
    transform: rotate(90deg);
    transition: 0.5s;
  }
}

.Collapsible__trigger.is-closed svg {
  transform: rotate(0deg);
  transition: 0.3s;
}

.instructors {
  .Collapsible__trigger {
    @include media('>tablet-landscape') {
      &:hover {
        color: $red-color;
        cursor: pointer;
        transition: 0.5s;
      }
    }
  }
}

.not-found-page {
  h1 {
    padding: 25px 0;
    width: 100%;
    text-align: center;
    font-size: $big-font;
    font-weight: 800;
    letter-spacing: 1px;

    @include media('>=tablet-portrait') {
      font-size: $large-font;
      padding: 40px 0;
    }
  }
}

.spinner-grow {
  padding: 60px;
}
