@import '../../../../styles/lib/sass/styles.scss';

.contactForm {
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: inherit;
  width: 100%;
  max-width: 630px;
  margin: 0 auto;

  font-size: $tiny-font;
  font-weight: 800;

  p {
    font-weight: 500;
    margin-left: 5px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  label {
    p {
      font-weight: 500;
      margin-left: 5px;
      line-height: 25px;
      letter-spacing: 1px;
      // @include media('>=tablet-portrait', '<=tablet-landscape') {
      //   font-size: $med-font;
      // }
    }

    textarea {
      display: block;
    }
  }

  .buttonContainer {
    margin: 10px 0 0 auto;
  }

  .contactInputNormal {
    width: 100%;
    max-width: 690px;
    border: 1px solid $red-color;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 16px;

    &::placeholder {
      font-family: 'Roboto', sans-serif;
    }

    @include media('<=tablet-portrait') {
      height: 48px;
    }
  }

  .contactInputBig {
    width: 100%;
    max-width: 690px;
    border: 1px solid $red-color;
    height: 125px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 16px;

    &::placeholder {
      font-family: 'Roboto', sans-serif;
    }
  }
}
